In [1]:
paragraph = "This is the NLP session that is going on and finally we are happy. Is everyone happy. iNeuron is company where we teach all the tech"

In [2]:
import nltk

In [3]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
nltk.sent_tokenize(paragraph) # Paragraph into sentences

['This is the NLP session that is going on and finally we are happy.',
 'Is everyone happy.',
 'iNeuron is company where we teach all the tech']

In [5]:
nltk.word_tokenize(paragraph) # Tokenization : Converts sentence to words

['This',
 'is',
 'the',
 'NLP',
 'session',
 'that',
 'is',
 'going',
 'on',
 'and',
 'finally',
 'we',
 'are',
 'happy',
 '.',
 'Is',
 'everyone',
 'happy',
 '.',
 'iNeuron',
 'is',
 'company',
 'where',
 'we',
 'teach',
 'all',
 'the',
 'tech']

In [6]:
from nltk.stem import PorterStemmer

In [7]:
stemmer = PorterStemmer()

In [8]:
stemmer.stem("going")

'go'

In [9]:
stemmer.stem("final")

'final'

In [10]:
stemmer.stem("history")

'histori'

In [11]:
from nltk.stem import WordNetLemmatizer

In [12]:
lemmatizer = WordNetLemmatizer()

In [13]:
lemmatizer.lemmatize("history")

'history'

In [14]:
paragraph

'This is the NLP session that is going on and finally we are happy. Is everyone happy. iNeuron is company where we teach all the tech'

In [15]:
sentence = nltk.sent_tokenize(paragraph)

In [16]:
sentence

['This is the NLP session that is going on and finally we are happy.',
 'Is everyone happy.',
 'iNeuron is company where we teach all the tech']

In [17]:
# Applying Stemming
corpus=[]
for i in range(len(sentence)):
    words=nltk.word_tokenize(sentence[i])
    words=[stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['thi', 'is', 'the', 'nlp', 'session', 'that', 'is', 'go', 'on', 'and', 'final', 'we', 'are', 'happi', '.']
['Is', 'everyon', 'happi', '.']
['ineuron', 'is', 'compani', 'where', 'we', 'teach', 'all', 'the', 'tech']

In [18]:
corpus

['thi is the nlp session that is go on and final we are happi .',
 'Is everyon happi .',
 'ineuron is compani where we teach all the tech']

In [19]:
# Appling Tokenization

corpus=[]
for i in range(len(sentence)):
    words=nltk.word_tokenize(sentence[i])
    words=[lemmatizer.lemmatize(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['This', 'is', 'the', 'NLP', 'session', 'that', 'is', 'going', 'on', 'and', 'finally', 'we', 'are', 'happy', '.']
['Is', 'everyone', 'happy', '.']
['iNeuron', 'is', 'company', 'where', 'we', 'teach', 'all', 'the', 'tech']

In [20]:
corpus

['This is the NLP session that is going on and finally we are happy .',
 'Is everyone happy .',
 'iNeuron is company where we teach all the tech']

In [21]:
paragraph="""
Ratan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.[5]

Born in 1937, he is a heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.

"""

In [22]:
paragraph

"\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.[5]\n\nBorn in 1937, he is a heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.\n\n"

In [23]:
sentences = nltk.sent_tokenize(paragraph)

In [24]:
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[stemmer.stem(word) for word in words]
    # print(words)
    corpus.append(' '.join(words))

In [25]:
corpus

['ratan naval tata ( ratan ṭāṭā , born 28 decemb 1937 ) is an indian industrialist , philanthropist , and a former chairman of tata son .',
 'He wa the chairman of tata group , from 1990 to 2012 , and again , as interim chairman , from octob 2016 through februari 2017 , and continu to head it charit trust .',
 '[ 3 ] [ 4 ] He is the recipi of two civilian award of india , the padma vibhushan ( 2008 ) , the second highest civilian honour , and the padma bhushan ( 2000 ) , the third highest civilian honour .',
 '[ 5 ] born in 1937 , he is a heir of the tata famili , and son of naval tata who wa later adopt by ratanji tata , son of jamsetji tata , the founder of tata group .',
 'He is an alumnu of the cornel univers colleg of architectur and harvard busi school through the advanc manag program that he complet in 1975 .',
 "[ 6 ] He join hi compani in 1961 when he use to work on the shop floor of tata steel , and wa the appar successor to J. R. D. tata upon the latter 's retir in 1991 .",
 'He got tata tea to acquir tetley , tata motor to acquir jaguar land rover , and tata steel to acquir coru , in an attempt to turn tata from a larg india-centrist group into a global busi .',
 'around 60-65 % of hi profit are donat to chariti make him one of the most signific philanthropist in the world .']

In [26]:
corpus=[]
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[lemmatizer.lemmatize(word) for word in words]
    # print(words)
    corpus.append(' '.join(words))

In [27]:
corpus

['Ratan Naval Tata ( Ratan Ṭāṭā , born 28 December 1937 ) is an Indian industrialist , philanthropist , and a former chairman of Tata Sons .',
 'He wa the chairman of Tata Group , from 1990 to 2012 , and again , a interim chairman , from October 2016 through February 2017 , and continues to head it charitable trust .',
 '[ 3 ] [ 4 ] He is the recipient of two civilian award of India , the Padma Vibhushan ( 2008 ) , the second highest civilian honour , and the Padma Bhushan ( 2000 ) , the third highest civilian honour .',
 '[ 5 ] Born in 1937 , he is a heir of the Tata family , and son of Naval Tata who wa later adopted by Ratanji Tata , son of Jamsetji Tata , the founder of Tata Group .',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975 .',
 "[ 6 ] He joined his company in 1961 when he used to work on the shop floor of Tata Steel , and wa the apparent successor to J. R. D. Tata upon the latter 's retirement in 1991 .",
 'He got Tata Tea to acquire Tetley , Tata Motors to acquire Jaguar Land Rover , and Tata Steel to acquire Corus , in an attempt to turn Tata from a largely India-centrist group into a global business .',
 'Around 60-65 % of his profit are donated to charity making him one of the most significant philanthropist in the world .']

In [28]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [29]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

#### BOW { Bag Of Words }

In [31]:
from sklearn.feature_extraction.text import CountVectorizer

In [32]:
sentences

['\nRatan Naval Tata (Ratan Ṭāṭā, born 28 December 1937) is an Indian industrialist, philanthropist, and a former chairman of Tata Sons.',
 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.',
 '[3][4] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000), the third highest civilian honour.',
 '[5]\n\nBorn in 1937, he is a heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.',
 "[6] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.",
 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.',
 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

In [34]:
import re
corpus=[]
for i in range(len(sentences)):
    text = re.sub('[^a-zA-Z0-9]',' ',sentences[i])
    text = text.lower()
    words = text.split()
    words=[stemmer.stem(word) for word in words]
    print(words)
    corpus.append(' '.join(words))

['ratan', 'naval', 'tata', 'ratan', 'born', '28', 'decemb', '1937', 'is', 'an', 'indian', 'industrialist', 'philanthropist', 'and', 'a', 'former', 'chairman', 'of', 'tata', 'son']
['he', 'wa', 'the', 'chairman', 'of', 'tata', 'group', 'from', '1990', 'to', '2012', 'and', 'again', 'as', 'interim', 'chairman', 'from', 'octob', '2016', 'through', 'februari', '2017', 'and', 'continu', 'to', 'head', 'it', 'charit', 'trust']
['3', '4', 'he', 'is', 'the', 'recipi', 'of', 'two', 'civilian', 'award', 'of', 'india', 'the', 'padma', 'vibhushan', '2008', 'the', 'second', 'highest', 'civilian', 'honour', 'and', 'the', 'padma', 'bhushan', '2000', 'the', 'third', 'highest', 'civilian', 'honour']
['5', 'born', 'in', '1937', 'he', 'is', 'a', 'heir', 'of', 'the', 'tata', 'famili', 'and', 'son', 'of', 'naval', 'tata', 'who', 'wa', 'later', 'adopt', 'by', 'ratanji', 'tata', 'son', 'of', 'jamsetji', 'tata', 'the', 'founder', 'of', 'tata', 'group']
['he', 'is', 'an', 'alumnu', 'of', 'the', 'cornel', 'univers', 'colleg', 'of', 'architectur', 'and', 'harvard', 'busi', 'school', 'through', 'the', 'advanc', 'manag', 'program', 'that', 'he', 'complet', 'in', '1975']
['6', 'he', 'join', 'hi', 'compani', 'in', '1961', 'when', 'he', 'use', 'to', 'work', 'on', 'the', 'shop', 'floor', 'of', 'tata', 'steel', 'and', 'wa', 'the', 'appar', 'successor', 'to', 'j', 'r', 'd', 'tata', 'upon', 'the', 'latter', 's', 'retir', 'in', '1991']
['he', 'got', 'tata', 'tea', 'to', 'acquir', 'tetley', 'tata', 'motor', 'to', 'acquir', 'jaguar', 'land', 'rover', 'and', 'tata', 'steel', 'to', 'acquir', 'coru', 'in', 'an', 'attempt', 'to', 'turn', 'tata', 'from', 'a', 'larg', 'india', 'centrist', 'group', 'into', 'a', 'global', 'busi']
['around', '60', '65', 'of', 'hi', 'profit', 'are', 'donat', 'to', 'chariti', 'make', 'him', 'one', 'of', 'the', 'most', 'signific', 'philanthropist', 'in', 'the', 'world']

In [35]:
corpus

['ratan naval tata ratan born 28 decemb 1937 is an indian industrialist philanthropist and a former chairman of tata son',
 'he wa the chairman of tata group from 1990 to 2012 and again as interim chairman from octob 2016 through februari 2017 and continu to head it charit trust',
 '3 4 he is the recipi of two civilian award of india the padma vibhushan 2008 the second highest civilian honour and the padma bhushan 2000 the third highest civilian honour',
 '5 born in 1937 he is a heir of the tata famili and son of naval tata who wa later adopt by ratanji tata son of jamsetji tata the founder of tata group',
 'he is an alumnu of the cornel univers colleg of architectur and harvard busi school through the advanc manag program that he complet in 1975',
 '6 he join hi compani in 1961 when he use to work on the shop floor of tata steel and wa the appar successor to j r d tata upon the latter s retir in 1991',
 'he got tata tea to acquir tetley tata motor to acquir jaguar land rover and tata steel to acquir coru in an attempt to turn tata from a larg india centrist group into a global busi',
 'around 60 65 of hi profit are donat to chariti make him one of the most signific philanthropist in the world']

In [36]:
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
cv = CountVectorizer()

In [38]:
cv.fit_transform(corpus).toarray()

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
        0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 2, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 2, 1,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 2, 0, 1, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 1, 0, 0, 0,
        0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 4, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 5, 0, 0, 0, 2, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 2, 0, 0, 0, 3, 0, 0, 2, 0,
        0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 4, 1, 1, 0, 0, 0, 0, 4, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 2, 0, 1, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]], dtype=int64)

In [40]:
cv.vocabulary_

{'ratan': 89,
 'naval': 80,
 'tata': 101,
 'born': 28,
 '28': 10,
 'decemb': 42,
 '1937': 0,
 'is': 67,
 'an': 18,
 'indian': 63,
 'industrialist': 64,
 'philanthropist': 86,
 'and': 19,
 'former': 47,
 'chairman': 32,
 'of': 82,
 'son': 98,
 'he': 54,
 'wa': 116,
 'the': 105,
 'group': 52,
 'from': 49,
 '1990': 3,
 'to': 108,
 '2012': 7,
 'again': 16,
 'as': 24,
 'interim': 65,
 'octob': 81,
 '2016': 8,
 'through': 107,
 'februari': 45,
 '2017': 9,
 'continu': 39,
 'head': 55,
 'it': 68,
 'charit': 33,
 'trust': 109,
 'recipi': 91,
 'two': 111,
 'civilian': 35,
 'award': 26,
 'india': 62,
 'padma': 85,
 'vibhushan': 115,
 '2008': 6,
 'second': 95,
 'highest': 58,
 'honour': 60,
 'bhushan': 27,
 '2000': 5,
 'third': 106,
 'in': 61,
 'heir': 56,
 'famili': 44,
 'who': 118,
 'later': 74,
 'adopt': 14,
 'by': 30,
 'ratanji': 90,
 'jamsetji': 70,
 'founder': 48,
 'alumnu': 17,
 'cornel': 40,
 'univers': 112,
 'colleg': 36,
 'architectur': 21,
 'harvard': 53,
 'busi': 29,
 'school': 94,
 'advanc': 15,
 'manag': 77,
 'program': 88,
 'that': 104,
 'complet': 38,
 '1975': 2,
 'join': 71,
 'hi': 57,
 'compani': 37,
 '1961': 1,
 'when': 117,
 'use': 114,
 'work': 119,
 'on': 83,
 'shop': 96,
 'floor': 46,
 'steel': 99,
 'appar': 20,
 'successor': 100,
 'upon': 113,
 'latter': 75,
 'retir': 92,
 '1991': 4,
 'got': 51,
 'tea': 102,
 'acquir': 13,
 'tetley': 103,
 'motor': 79,
 'jaguar': 69,
 'land': 72,
 'rover': 93,
 'coru': 41,
 'attempt': 25,
 'turn': 110,
 'larg': 73,
 'centrist': 31,
 'into': 66,
 'global': 50,
 'around': 23,
 '60': 11,
 '65': 12,
 'profit': 87,
 'are': 22,
 'donat': 43,
 'chariti': 34,
 'make': 76,
 'him': 59,
 'one': 84,
 'most': 78,
 'signific': 97,
 'world': 120}

#### TF-TDF { Term Frequency - Inverse Document Frequency }

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [46]:
tf_idf = TfidfVectorizer()

In [48]:
tf_idf.fit_transform(corpus).toarray()

array([[0.21085521, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.25159376, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.18195074, 0.11230773,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.21085521, 0.        ,
        0.        , 0.        , 0.21085521, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.25159376, 0.        , 0.        ,
        0.        , 0.        , 0.25159376, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.25159376, 0.25159376,
        0.        , 0.        , 0.1595307 , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.21085521, 0.        , 0.11230773, 0.        , 0.        ,
        0.        , 0.21085521, 0.        , 0.        , 0.50318752,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.21085521, 0.        ,
        0.        , 0.28242438, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.20086005, 0.        ,
        0.        , 0.        , 0.20086005, 0.20086005, 0.20086005,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.20086005, 0.        , 0.        , 0.1793219 ,
        0.        , 0.        , 0.        , 0.        , 0.20086005,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.3366728 , 0.20086005, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.20086005,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.20086005, 0.        , 0.        , 0.        , 0.3366728 ,
        0.        , 0.        , 0.1452605 , 0.        , 0.10037193,
        0.20086005, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.20086005, 0.        , 0.        , 0.20086005, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.20086005, 0.08966095, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.11273685, 0.        , 0.        , 0.        ,
        0.10037193, 0.        , 0.1683364 , 0.25472289, 0.20086005,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.1452605 , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.16096985, 0.16096985, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.07185455,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.16096985, 0.16096985, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.48290954, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.08043836,
        0.        , 0.        , 0.        , 0.32193969, 0.        ,
        0.32193969, 0.        , 0.13490529, 0.        , 0.        ,
        0.        , 0.        , 0.10206784, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.14370911, 0.        , 0.        ,
        0.32193969, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.16096985, 0.        , 0.        , 0.        ,
        0.16096985, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.40219182, 0.16096985, 0.        , 0.        , 0.        ,
        0.        , 0.16096985, 0.        , 0.        , 0.        ,
        0.16096985, 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.15784355, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18833992,
        0.        , 0.        , 0.        , 0.        , 0.08407215,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.15784355, 0.        ,
        0.18833992, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18833992,
        0.        , 0.        , 0.        , 0.18833992, 0.        ,
        0.        , 0.        , 0.13620603, 0.        , 0.09411548,
        0.        , 0.18833992, 0.        , 0.        , 0.        ,
        0.        , 0.10570967, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.11942267, 0.        , 0.        ,
        0.18833992, 0.        , 0.        , 0.        , 0.18833992,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.15784355, 0.        , 0.33628859, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18833992, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.3156871 , 0.        ,
        0.        , 0.52854833, 0.        , 0.        , 0.        ,
        0.18823097, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.13620603, 0.        , 0.18833992, 0.        ,
        0.        ],
       [0.        , 0.        , 0.23162783, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.23162783, 0.        , 0.23162783, 0.16751153, 0.10339523,
        0.        , 0.23162783, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.1941222 ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.23162783, 0.        , 0.23162783, 0.        ,
        0.23162783, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.23162783, 0.23149384,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.1300059 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.14687069, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.23162783, 0.        , 0.        ,
        0.        , 0.        , 0.20679046, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.23162783, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.23162783,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.23162783,
        0.23149384, 0.        , 0.1941222 , 0.        , 0.        ,
        0.        , 0.        , 0.23162783, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.20120705, 0.        , 0.        , 0.20120705,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.08981584,
        0.20120705, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.20120705, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.20120705, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.20109066,
        0.        , 0.        , 0.16862721, 0.        , 0.        ,
        0.        , 0.22586322, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.20120705, 0.        , 0.        , 0.        ,
        0.20120705, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.08981584, 0.20120705, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.20120705, 0.        , 0.        ,
        0.        , 0.20120705, 0.        , 0.        , 0.16862721,
        0.20120705, 0.22586322, 0.        , 0.        , 0.        ,
        0.30163598, 0.        , 0.        , 0.25516294, 0.        ,
        0.        , 0.        , 0.        , 0.20120705, 0.20120705,
        0.        , 0.14551145, 0.20120705, 0.        , 0.20120705,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.47981373, 0.        ,
        0.        , 0.        , 0.        , 0.11566591, 0.07139391,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.15993791, 0.        , 0.        , 0.        , 0.13404045,
        0.        , 0.15993791, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.15993791, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.13404045,
        0.15993791, 0.15993791, 0.11566591, 0.        , 0.0799227 ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.08976845, 0.13404045, 0.        , 0.        ,
        0.        , 0.15993791, 0.        , 0.        , 0.15993791,
        0.        , 0.        , 0.15993791, 0.15993791, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.15993791,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.15993791, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.13404045,
        0.        , 0.35907381, 0.15993791, 0.15993791, 0.        ,
        0.        , 0.        , 0.        , 0.40565405, 0.        ,
        0.15993791, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.24312474, 0.24312474, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24312474, 0.24312474, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.24312474,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.24312474, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.20375751, 0.        , 0.24312474,
        0.        , 0.13645878, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.24312474, 0.        , 0.24312474, 0.        ,
        0.        , 0.        , 0.21705456, 0.        , 0.24312474,
        0.        , 0.20375751, 0.24312474, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24312474, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.2429841 , 0.        , 0.        , 0.15416066, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.24312474]])

In [49]:
tf_idf.vocabulary_

{'ratan': 89,
 'naval': 80,
 'tata': 101,
 'born': 28,
 '28': 10,
 'decemb': 42,
 '1937': 0,
 'is': 67,
 'an': 18,
 'indian': 63,
 'industrialist': 64,
 'philanthropist': 86,
 'and': 19,
 'former': 47,
 'chairman': 32,
 'of': 82,
 'son': 98,
 'he': 54,
 'wa': 116,
 'the': 105,
 'group': 52,
 'from': 49,
 '1990': 3,
 'to': 108,
 '2012': 7,
 'again': 16,
 'as': 24,
 'interim': 65,
 'octob': 81,
 '2016': 8,
 'through': 107,
 'februari': 45,
 '2017': 9,
 'continu': 39,
 'head': 55,
 'it': 68,
 'charit': 33,
 'trust': 109,
 'recipi': 91,
 'two': 111,
 'civilian': 35,
 'award': 26,
 'india': 62,
 'padma': 85,
 'vibhushan': 115,
 '2008': 6,
 'second': 95,
 'highest': 58,
 'honour': 60,
 'bhushan': 27,
 '2000': 5,
 'third': 106,
 'in': 61,
 'heir': 56,
 'famili': 44,
 'who': 118,
 'later': 74,
 'adopt': 14,
 'by': 30,
 'ratanji': 90,
 'jamsetji': 70,
 'founder': 48,
 'alumnu': 17,
 'cornel': 40,
 'univers': 112,
 'colleg': 36,
 'architectur': 21,
 'harvard': 53,
 'busi': 29,
 'school': 94,
 'advanc': 15,
 'manag': 77,
 'program': 88,
 'that': 104,
 'complet': 38,
 '1975': 2,
 'join': 71,
 'hi': 57,
 'compani': 37,
 '1961': 1,
 'when': 117,
 'use': 114,
 'work': 119,
 'on': 83,
 'shop': 96,
 'floor': 46,
 'steel': 99,
 'appar': 20,
 'successor': 100,
 'upon': 113,
 'latter': 75,
 'retir': 92,
 '1991': 4,
 'got': 51,
 'tea': 102,
 'acquir': 13,
 'tetley': 103,
 'motor': 79,
 'jaguar': 69,
 'land': 72,
 'rover': 93,
 'coru': 41,
 'attempt': 25,
 'turn': 110,
 'larg': 73,
 'centrist': 31,
 'into': 66,
 'global': 50,
 'around': 23,
 '60': 11,
 '65': 12,
 'profit': 87,
 'are': 22,
 'donat': 43,
 'chariti': 34,
 'make': 76,
 'him': 59,
 'one': 84,
 'most': 78,
 'signific': 97,
 'world': 120}

#### New Test Data

In [52]:
data = ['I want to have food']

In [53]:
cv.transform(data).toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

#### OOV Issue for above data to overcome this we use DL technique Word2Vec